<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>278304931405-2t6mgorpkpkri715bamqqf1vc3he78c0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.278304931405-2t6mgorpkpkri715bamqqf1vc3he78c0</string>
	<key>API_KEY</key>
	<string>AIzaSyB42hP0nW-0MiigR4cVcCGudE4rxEmHDJc</string>
	<key>GCM_SENDER_ID</key>
	<string>278304931405</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gvmrtnv.Influencer</string>
	<key>PROJECT_ID</key>
	<string>influencerapp-adf9b</string>
	<key>STORAGE_BUCKET</key>
	<string>influencerapp-adf9b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:278304931405:ios:2a69ea40adcada20262604</string>
	<key>DATABASE_URL</key>
	<string>https://influencerapp-adf9b-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>